body {
    font-family: 'Staatliches';
    background: #4E9258;
    color: #B3F0BC;
}

.container-h1 {
    display: flex;
    justify-content: center;
}

h1{
    font-size: 200px;
    background: black;
    padding: 0px 40px;
}

.container-img{
    display: flex;
    justify-content: center;
}

img{
    width: 180px;
}
